html, body{
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			background-color: #121212;
			text-align: center;
		}
a{
	text-decoration: none;
}
h1{
	margin: 0;
	text-align: center;
	color: black;
	font-family: Lobster;
	font-size: 5em;
}
button{
	background-color: transparent;
	font-family: Lobster;
	margin: 20px;
	font-size: 3em;
	border: 0px;cursor:pointer;
}
.text-gradient{
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: Lobster;
	margin-left: auto;margin-right: auto;
}
.box1, .box2, .box3, .box4{
	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
	width: 100vw/4;height: 25%;
	margin-top:3em;
}
.grad-insta{
	background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
}
.typ2{
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.typ3{
	background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
.typ4{
	background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.grad1{
	background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
}
.grad2{
	background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}
.psize{
	font-size: 2em;
}
.grad3{
	background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
}
.box1:hover, .box2:hover, .box3:hover, .box4:hover, h1:hover{
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
p a:hover{
	background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}